:root {
  --bg: #fdfdfd;
  --codebg: #dddddd;
  --meta: #888;
  --accent: #3178cd;
  --text: black;
  --base: 1.5rem;
}

@media (max-width: 600px) {
  :root {
    --base: 1.2rem;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: var(--base);
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'calt', 'liga', 'hist', 'onum', 'pnum';

  overflow: auto;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: var(--text);
  background-color: var(--bg);
}

#slide {
  display: block;
  /* overflow: hidden; */
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  padding: 1rem;

  text-align: center;

  -webkit-overflow-scrolling: touch;
}

#slide ul {
    text-align: left;
    /* margin-left: 20px; */
    padding: 0;
    list-style-type: none;
}
#slide ul ul {
  font-size: smaller;
  margin-left: 20px;
  padding-left: 32px;
  list-style-type: square;
}
a {
  color: var(--text);

  text-decoration-skip-ink: auto;
}

blockquote {
  font-size: 120%;
  font-weight: bold;

  width: 50vw;

  text-align: left;
}

@media (max-width: 900px) {
  blockquote {
    width: 90vw;
  }
}

blockquote div::before {
  content: '\201C';
}

blockquote div::after {
  content: '\201D';
}

cite {
  font-size: 80%;
  font-weight: normal;
  font-style: normal;

  display: block;

  margin-top: 2rem;
}

cite::before {
  content: '\2014\00a0';
}

pre {
  font-size: 70%;

  display: inline-block;
  overflow-x: scroll;

  margin: 2rem 0;

  text-align: left;

  color: var(--accent);
}

code {
  font-family: menlo, monospace;
  font-size: 90%;
}

a:hover {
  color: var(--accent);
}

h1 {
  font-size: 170%;
  text-align: left;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 120%;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 80%;
  color: var(--accent);
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header {
  font-size: 50%;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px;

  user-select: none;
}

header a,
time {
  text-decoration: none;
  font-size: smaller;

  color: var(--meta);
}

header a:hover {
  color: var(--meta);
}

header span {
  color: var(--text);
}

#slide.slide-1 { display: flex; }
#slide.slide-1 h1 {text-align: center;}


/* #slide.slide-2 { display: block; padding: 32px;} */
.slide-2 h1 {
  text-align: left;
}

.slide-3 h1 {
  text-align: left;
}
#slide code {
  font-size: 60%;
  color: var(--accent);
}



#slide.slide-24 pre, #slide.slide-23 pre  {
  margin: 0;
  /* height: 700px; */
  /* background-color: var(--codebg); */
  color: var(--accent);
  font-size: 40%;
}

#slide.slide-25 { display: flex; }
